* {
    box-sizing: border-box;
    font-family: "Verdana";
}
body {
    margin: 0;
}
.container {
    width: 924px;
    margin: 0 auto;
}


/* header */
.header_up {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #4E2C1E;
    min-height: 83px;
}
.phone {

        font-size: 26px;
        font-family: "Book Antiqua";
        color: rgb( 255, 255, 255 );
        text-align: justifyAll;
        padding-left: 20px;
      }
      
.buttons_head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 4px;
    margin-top: 4px;
    margin-right: 5px;
}

.btn_head {

    min-width: 170px;
    min-height: 24px;
    margin: 5px;   


        border-style: solid;
        border-width: 1px;
        border-color: rgb( 216, 201, 146 );
        border-radius: 5px;
        background-image: -moz-linear-gradient( 90deg, rgb( 250, 237, 199 ) 0%, rgb( 234, 207, 143 ) 12.72%, rgb( 232, 196, 120 ) 58.179%, rgb( 255, 249, 224 ) 95.85%, rgb( 255, 249, 224 ) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb( 250, 237, 199 ) 0%, rgb( 234, 207, 143 ) 12.72%, rgb( 232, 196, 120 ) 58.179%, rgb( 255, 249, 224 ) 95.85%, rgb( 255, 249, 224 ) 100%);    

        
            font-size: 16px;
            font-family: "Book Antiqua";
            color: rgb( 71, 40, 0 );
          
}

button:hover {

        border-style: solid;
        border-width: 1px;
        border-color: rgb( 171, 110, 23 );
        border-radius: 5px;
        background-image: -moz-linear-gradient( 90deg, rgb( 250, 237, 199 ) 0%, rgb( 119, 71, 11 ) 0%, rgb( 211, 149, 56 ) 72.607%, rgb( 245, 220, 185 ) 95.85%, rgb( 255, 249, 224 ) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb( 250, 237, 199 ) 0%, rgb( 119, 71, 11 ) 0%, rgb( 211, 149, 56 ) 72.607%, rgb( 245, 220, 185 ) 95.85%, rgb( 255, 249, 224 ) 100%);

        
            font-size: 16px;
            font-family: "Book Antiqua";
            color: rgb( 255, 255, 255 );
            text-align: justifyAll;
            text-shadow: 0.5px 0.866px 0px rgb( 17, 17, 26 );

          
}

.nav {}
 .navigation {
    display: flex;
    margin: -5px auto;
    padding: 0 0;
}
.navigation li {
    
    background-image: -moz-linear-gradient( 90deg, rgb( 164, 103, 31 ) 0%, rgb( 131, 76, 11 ) 13.696%, rgb( 119, 71, 11 ) 25.439%, rgb( 176, 120, 43 ) 55.249%, rgb( 233, 192, 135 ) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 164, 103, 31 ) 0%, rgb( 131, 76, 11 ) 13.696%, rgb( 119, 71, 11 ) 25.439%, rgb( 176, 120, 43 ) 55.249%, rgb( 233, 192, 135 ) 100%);
    box-shadow: 0.5px 0.866px 0px 0px rgb( 126, 79, 19 );
    border: 1px solid black;

    min-height: 40px;
    text-align: center;
    list-style-type: none;
}

li:hover {


        font-size: 11px;
        font-family: "Verdana";
        color: rgb( 78, 44, 30 );
        text-transform: uppercase;
        text-align: center;
        text-shadow: 0.5px 0.866px 0px rgb( 17, 17, 26 );

        border-style: solid;
        border-width: 1px;
        border-color: rgb( 216, 201, 146 );
        background-image: -moz-linear-gradient( 90deg, rgb( 250, 237, 199 ) 0%, rgb( 234, 207, 143 ) 12.72%, rgb( 232, 196, 120 ) 58.179%, rgb( 255, 249, 224 ) 95.85%, rgb( 255, 249, 224 ) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb( 250, 237, 199 ) 0%, rgb( 234, 207, 143 ) 12.72%, rgb( 232, 196, 120 ) 58.179%, rgb( 255, 249, 224 ) 95.85%, rgb( 255, 249, 224 ) 100%);    
        
        
}


.lipa {
    font-size: 11px;
    font-family: "Verdana";
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    text-shadow: 0.5px 0.866px 0px rgb( 17, 17, 26 );
  

}

.lipa:hover {

    font-size: 11px;
    font-family: "Verdana";
    color: rgb( 78, 44, 30 );
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0.5px 0.866px 0px rgb( 17, 17, 26 );
}


.li_basic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 116px;

        font-size: 11px;
        font-family: "Verdana";
        color: rgb( 255, 255, 255 );
        text-transform: uppercase;
        text-shadow: 0.5px 0.866px 0px rgb( 17, 17, 26 );
      
    
}

.right_logo{

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding-left: 40px;
    min-width: 230px;
    color: white;
    
    font-size: 11px;
    font-family: "Verdana";
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    text-shadow: 0.5px 0.866px 0px rgb( 17, 17, 26 );

}
.left_logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
    min-width: 230px;

    font-size: 11px;
    font-family: "Verdana";
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    text-shadow: 0.5px 0.866px 0px rgb( 17, 17, 26 );
    padding-left: 126px;
}

.first {
border-radius: 5px 0px 0px 5px;
}

.last {
    border-radius: 0px 5px 5px 0px;
    }

.logo {

margin: -98px 320px;
}

/* header */
/* середина */
.midle_main {
    background: url(/img/орнамент.png);
    background-position-y: 153px;
    background-repeat: no-repeat;
    background-size: 100%, cover;
    display: flex;
    padding-top: 65px;
}       
.home {
    width: 462px;
}
.clock {
    max-width: 462px;
}

.midle_text {

        font-size: 13px;
        font-family: "Arial";
        color: rgb( 53, 25, 13 );
        text-align: justify;
        width: 376px;
        margin: -53px -4px 9px 57px;

      
}
.midle_img {

        display: flex;
        border-radius: 50%;
        justify-content: right;
        padding: 62px 13px 0px 0px;

      
}

.midle_zag {
    font-size: 24px;
    font-family: "GaramondC";
    color: rgb( 78, 44, 30 );
    font-weight: bold;
    margin: -134px 0px 71px 57px;
    width:min-content ;
}

.midle_button {
    display: flex;
    justify-content: right;
    margin-left: 316px;
    margin-top: 20px;

    border-style: solid;
    border-width: 1px;
    border-color: rgb( 216, 201, 146 );
    border-radius: 5px;
    background-image: -moz-linear-gradient( 90deg, rgb( 250, 237, 199 ) 0%, rgb( 234, 207, 143 ) 12.72%, rgb( 232, 196, 120 ) 58.179%, rgb( 255, 249, 224 ) 95.85%, rgb( 255, 249, 224 ) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb( 250, 237, 199 ) 0%, rgb( 234, 207, 143 ) 12.72%, rgb( 232, 196, 120 ) 58.179%, rgb( 255, 249, 224 ) 95.85%, rgb( 255, 249, 224 ) 100%);    

    
        font-size: 16px;
        font-family: "Book Antiqua";
        color: rgb( 71, 40, 0 );
        text-transform: uppercase;
}

/* середина */

@media screen and (max-width: 924px) {
.container{
  width: auto;  
}
.header_up {

    min-height: 170px;
}

.li_basic {



}



.first {
 border-radius: 0px;
}
.last {
    border-radius: 0px;
   }

.logo {
    margin: -192px 294px;
    text-align: center;

}
.navigation {

    
        justify-content: center;
}
.right_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 116px;
    padding: 0;

}
.left_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 116px;
    padding: 0;

}
}


@media screen and (max-width: 782px) {

.logo {
    margin: -191px 235px;
}

}

@media screen and (max-width: 710px) {

    .phone{
        display: none;
    }

    .logo {
        margin: -238px 235px;
    }
    .navigation {
        justify-content: center;
 
            flex-wrap: wrap;

    }
    }

    @media screen and (max-width: 546px) {



        .phone{
            display: none;
        }
    
        .logo {
            margin: -380px 2px;
        }
        
        .navigation {
            display: contents;
        }
        .buttons_head {
            display: contents;
            text-align: center;
            margin: 0 0;
        }
        .header_up {
            min-height: 220px;
        }
    }

    @media screen and (max-width: 362px) {
        .buttons_head {
            display: block;
        }
    }